$mycolor: #fefefe;
$mycolor2: #ff616f;
$nightmode: #3d5afe;
$mycolor3: #304ffe;

@media(min-width: 920px){
    .portfolio{
        display:flex;
        align-items:flex-end;
        align-items:stretch;
        margin-left: auto;
        margin-right: auto;
    }
}

button{
    background-color: #fefefe00;
    border: none;
    font-family: "Spectral";
    color: $nightmode;
    font-size: 16px;
    cursor: pointer;
}

.button1{
    color: $mycolor;
}

.category_container{
    width: 800px;
    display: block;
    margin: 0 0;
    overflow: hidden;
    box-sizing: border-box;
}

.category_item{
    float: left;
    width: 20%;
    background-color: #fefefe00;
    padding: 20px 0;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    color: #304ffe;
}
.category_item:hover{
    background-color: #304ffe;
    color: $mycolor;
}

body{
    height: 1vh;
    background-color: $mycolor;
    font-family: 'Spectral';
}

section{
    height: 10vh;
    font-family: 'Spectral'      
}

p{
    color:$mycolor3;
    font-family: 'Spectral';
    font-size: 16px;
    text-align:left;
    font-style: oblique;
}

h1{
    font-size: 80px;
    text-align: center;
    font-family: 'Arial';
}

img{
    display:block;
    margin-left:0;
    margin-right:0;
    max-width: 100%;
    height: auto;
}

.hi{
    margin-top: 1vh;
    margin-left: 60px;
    color: $mycolor3;
    text-align: left;
    animation-name: "introfade";
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

.portfolio{
    animation-name: "introfade";
    animation-direction: normal;
    animation-fill-mode: both;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0.3s;
}

.example1{
    animation-name: "introfade";
    animation-direction: normal;
    animation-fill-mode: both;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0.3s;
}

.item2{
    animation-name: "introfade";
    animation-direction: normal;
    animation-fill-mode: both;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0.6s;
}

.example2{
    animation-name: "introfade";
    animation-direction: normal;
    animation-fill-mode: both;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0.6s;
}

.bye{
    margin-top: 0vh;
    color: $mycolor;
}

.scene1{
    width: 100%;
    margin-bottom: 330vh;
}

.scene3{
    width: 100%;
    margin-top: auto;
    margin-bottom: 400vh;
    height: 100%;
}

.portfolio div{
    flex-basis:35%;
    padding:4vh;
    //border: 2px #ccc solid;
}

.navbarh{
    position: fixed;
    top: 10px;
    right:10px;
    align-self: center;
    z-index: 1;
    width: 100px;
    height: 60px;
    color: $mycolor;
}

.navbarf{
    position: fixed;
    bottom: 10px;
    right:10px;
    align-self: center;
    z-index: 1;
    width: 100px;
    height: 60px;
    color: $nightmode;
}

.email{
    color: $mycolor;
    text-align:center;
    margin-left: 2vh;
}

iframe{
    margin-left:auto;
    margin-right:auto;
}

.hide{
    height: 0%;
    width: 0;
    padding: 0;
    animation-name: "introfade";
    animation-direction: reverse;
    animation-fill-mode: both;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    transition: all 0.4s ease-in-out;
}

@keyframes introfade{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }

}


